:root {
  /* fonts */
  --font-work-sans: "Work Sans";

  /* font sizes */
  --font-size-base: 15px;

  /* Colors */
  --color-white: #fff;
  --color-indigo: #0085ff;

  /* border radiuses */
  --br-md: 15px;
}
