body {
  margin: 0;
  line-height: normal;
}
.citypng-1-icon {
  position: absolute;
  top: 47px;
  left: 26px;
  width: 350px;
  height: 593px;
  object-fit: cover;
}
.screenshot-2022-11-21-123813-1,
.screenshot-2022-11-21-124155-1 {
  position: absolute;
  top: 87px;
  left: 0;
  width: 145px;
  height: 33px;
  object-fit: cover;
}
.screenshot-2022-11-21-124155-1 {
  top: 166px;
  left: 16px;
  width: 112px;
  height: 84px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-indigo);
  position: absolute;
  top: 595px;
  left: 274px;
  border-radius: var(--br-md);
  width: 71px;
  height: 30px;
}
.buy-a {
  text-decoration: none;
  position: absolute;
  top: 599px;
  left: 293px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
.screenshot-2022-11-21-124924-1 {
  position: absolute;
  top: 270px;
  left: 9px;
  width: 92px;
  height: 31px;
  object-fit: cover;
}
.rectangle-button1,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 360px;
  height: 48px;
}
.rectangle-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 48px;
}
.png-apple-logo-9736-1-icon {
  position: absolute;
  top: 10px;
  left: 167px;
  width: 24px;
  height: 23px;
  object-fit: cover;
}
.rectangle-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 0;
  left: 312px;
  width: 48px;
  height: 48px;
}
.rectangle-div1,
.rectangle-div2,
.rectangle-div3 {
  position: absolute;
  top: 20px;
  left: 17px;
  background-color: var(--color-gray-100);
  width: 14px;
  height: 1px;
}
.rectangle-div2,
.rectangle-div3 {
  top: 24px;
}
.rectangle-div3 {
  top: 28px;
}
.bag-frame-icon {
  position: absolute;
  height: 100%;
  width: 87.5%;
  top: 0;
  right: 6.25%;
  bottom: 0;
  left: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bag-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 328px;
  width: 16px;
  height: 16px;
}
.apple-home-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
